<div class="jumbotron text-center">
  <h1>Welcome to SOCIAPPLE</h1>
  <h2>It's very <code>SOCI</code>al, it's an <code>APP</code>lication and it's dead simp<code>LE</code></h2>
  <br>
  <%= link_to "Register Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
