body {
  margin-top: 50px;
  padding-top: 20px;
}

.navbar-brand {
  font-size: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.img-navbar {
  margin-top: -12px;
  margin-bottom: -10px;
  margin-right: 10px;
}

img {
  border-radius: 50%;
}

textarea {
  resize: vertical;
}

.reaction-status {
  margin-bottom: -10px;
}

.reaction-actions {
  margin-top: -10px;
  margin-bottom: -5px;
}

.comment-form {
  margin-top: 0;
}
