body {
  margin-top: 50px;
  padding-top: 20px;
  background-color: #e7e7e7;
}

.jumbotron {
  background-color: #e7e7e7;
}

.pagination {
  margin-top: 10px;
}

.no-margin {
  margin: 0;
}

.navbar-brand {
  font-size: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.img-navbar {
  margin-top: -12px;
  margin-bottom: -10px;
  margin-right: 10px;
}

img {
  border-radius: 50%;
}

textarea {
  resize: vertical;
}

.reaction-status {
  margin-bottom: -10px;
}

.reaction-actions {
  margin-top: -10px;
  margin-bottom: -5px;
}

.reply-form {
  margin-top: 20px;
}

.comment-container {
  margin-bottom: 15px;
}

.reply-container {
  min-height: 1px;
  border-left: 5px solid #eee;
  padding-left: 10px;
}

#js-recent-activities {
  width: 35.5%;
}
