body {
  margin-top: 51px;
  padding-top: 20px;
}

.img-navbar {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 10px;
}

img {
  border-radius: 50%;
}

textarea {
  resize: none;
}

.reaction-status {
  margin-bottom: -10px;
}

.reaction-actions {
  margin-top: -10px;
  margin-bottom: -5px;
}
